<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action="/posts/{{post.id}}/update/"> <!-- 특정 게시물의 update URL로 전송 -->
        <input type="text" name="title" value="{{post.title}}"> <!-- 제목 입력 필드, 기존 제목 값 포함 -->
        <input type="text" name="content" value="{{post.content}}"> <!-- 내용 입력 필드, 기존 내용 값 포함 -->
        <input type="submit">
    </form>
</body>
</html>